@import "https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i";
@import "https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,900";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
.landingcus5 .border-rounded {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background: #fff;
}
.landingcus5 .border-solid {
    border: 1px solid #ddd;
}
.landingcus5 .text-bold {
    font-weight: 700;
}
.landingcus5 .width-service-name {
    width: 250px;
}
.landingcus5 .forced-pull-right-search {
    float: right;
    padding: 10px;
    width: 250px;
}
.landingcus5 .nav-forced-centered {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.landingcus5 .order-url {
    word-wrap: break-word;
    max-width: 40vw;
}
.landingcus5 .payment_authorized {
    background-color: green;
    color: #fff;
}
.landingcus5 .panel_icon_class {
    margin-top: -16px;
}
