@charset "UTF-8";

.landingcus8 {
    /* NIGHTMODE */
    /* TICKETWA */
    /* .ticketModalla .custom-control-input[checked="checked"] ~ .custom-control-label {
      border-color: #ff6984;
  } */
    /* .ticketModalla .custom-control-input[checked="checked"] ~ .custom-control-label::before {
      color: #ffffff;
      background-color: #172182;
  } */
    /* .ticketModalla .custom-control-input[checked="checked"] ~ .custom-control-label::after {
      opacity:1;
  } */;
}

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.landingcus8 .order-paage .order-actions a.refillRevealer {
    position: relative;
    height: 36px;
    overflow: hidden;
}

.landingcus8 .order-paage .order-actions a.refillRevealer span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 14px;
    min-width: 100%;
    transition: 0.25s ease-out;
    top: 50%;
    transform: translateY(-50%);
}

.landingcus8 .order-paage .order-actions a.refillRevealer span:last-child {
    left: auto;
    right: -100px;
    opacity: 0;
    /* scale: 0; */;
}

.landingcus8 .order-paage .order-actions a.refillRevealer:hover span:first-child {
    right: auto;
    left: -100px;
    opacity: 0;
    /* scale: 0; */;
}

.landingcus8 .order-paage .order-actions a.refillRevealer:hover span:last-child {
    left: 0;
    right: 0;
    opacity: 1;
    /* scale: 1; */;
}

.landingcus8 span.refilling {
    border: 1px solid #fff !important;
    border-radius: 40px !important;
    padding: 8px 10px !important;
    line-height: 18px !important;
    background: none;
    /* animation: hvr-bob 1.5s ease-in-out infinite; */
    min-width: 100px;
    font-weight: normal;
    font-size: 14px;
}

.landingcus8 body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
}

.landingcus8 .dashboard.daymode *,
.landingcus8 .dashboard.nightmode * {
    transition: color 750ms, background 750ms;
    will-change: color, background;
}

.landingcus8 .table-responsive {
    -webkit-overflow-scrolling: touch;
}

.landingcus8 .table-responsive .table {
    max-width: none;
}

.landingcus8 .serviceModal.modal.in .modal-dialog {
    -webkit-transform: translate(0, 30%);
    -ms-transform: translate(0, 30%);
    -o-transform: translate(0, 30%);
    transform: translate(0, 30%);
}

.landingcus8 #service_description {
    display: none;
}

.landingcus8 .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaf3;
    border-radius: 6px;
}

.landingcus8 .w300 {
    width: 300px;
}

.landingcus8 .mb-3, .landingcus8 .my-3 {
    margin-bottom: 1rem !important;
}

.landingcus8 .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.landingcus8 .u-ver-divider {
    position: relative;
}

.landingcus8 .card-footer {
    height: auto;
    max-height: 200px;
    border-radius: 0 0 calc(6px - 1px) calc(6px - 1px);
    background-color: #fff;
    border-top: 1px solid #e7eaf3;
}

.landingcus8 .serviceDetailsCard .card-footer {
    overflow: auto;
}

.landingcus8 .p-4 {
    padding: 1.5rem !important;
}

.landingcus8 .card-body h5.small {
    font-size: 14px;
    font-weight: 400;
    color: #28313b;
}

.landingcus8 .card-body span.font-size-1 {
    color: #28313b;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.landingcus8 .u-ver-divider::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #e7eaf3;
    content: "";
}

.landingcus8 .alert.alert-fill-primary {
    background-color: #ff6984;
    border-color: #ff6984;
    color: #ffffff;
    font-size: 16px;
}

.landingcus8 .dashboard .form-group.fields {
    position: relative;
}

.landingcus8 .dashboard .btn-wrap {
    position: absolute;
    right: 10px;
    top: 31px;
    display: block;
    padding: 3px 0;
}

.landingcus8 .dashboard .btn-wrap .buttonWa {
    display: block;
    width: 17px;
    height: 17px;
    background: #ff6984;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.landingcus8 .dashboard .btn-wrap .inc.buttonWa {
    margin-bottom: 3px;
}

.landingcus8 .dashboard .navbar-default {
    border: none;
}

.landingcus8 .dashboard .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: .2s;
}

.landingcus8 .mobileMenu,
.landingcus8 .mobileDropdown {
    display: none;
}

.landingcus8 .dashboard .navbar-default .navbar-nav.mobileMenu > li > a {
    padding: 0;
}

.landingcus8 .dashboard .navbar-default .caret {
    border: none;
    width: auto;
    height: auto;
}

.landingcus8 .dashboard .caret i {
    line-height: 32px;
}

.landingcus8 .dashboard .user-icon {
    width: 32px;
    height: 32px;
    border-radius: 500px;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    margin-right: 8px;
}

.landingcus8 .dashboard .user-icon i {
    line-height: 32px;
    color: #ff6984;
}

.landingcus8 .dashboard .navbar-brand {
    height: auto;
    line-height: 62px;
}

.landingcus8 .dashboard .navbar-brand img {
    filter: brightness(0) invert(1);
}

.landingcus8 .badge.bade-price {
    font-size: 17px;
    font-weight: 600;
    width: 100px;
    line-height: 40px;
    padding: 0;
    border-radius: 500px;
    margin-top: 11px;
}

.landingcus8 .dashboard .navbar-default .breadcrumb {
    float: left;
    margin: 0;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.landingcus8 .dashboard .navbar-default .breadcrumb a,
.landingcus8 .dashboard .navbar-default .breadcrumb li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}

.landingcus8 .dashboard .navbar-default .breadcrumb a {
    display: flex;
}

.landingcus8 .dashboard .navbar-default .breadcrumb li::before {
    padding: 0 15px;
}

.landingcus8 .dashboard .navbar-default .breadcrumb a i {
    font-size: 18px;
}

.landingcus8 .nav-botom-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.landingcus8 .nav-botom-menu li {
    max-width: 136px;
    flex: 0 0 136px;
    margin: 0 20px 0 0;
}

.landingcus8 .nav-botom-menu .dropdown-menu li {
    max-width: 100%;
    flex: auto;
    margin: auto;
}

.landingcus8 .nav-botom-menu .dropdown-menu li a {
    height: auto;
    display: block;
    background: transparent;
    border: none;
}

.landingcus8 .nav-botom-menu .dropdown-menu li a::after {
    display: none;
}

.landingcus8 .nav-botom-menu a {
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f2f5;
    border: 1px solid #dedfe1;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in;
}

.landingcus8 .nav-botom-menu li a::after {
    content: '';
    position: absolute;
    opacity: 0;
    bottom: -15px;
    transition: all 0.3s ease-in;
}

.landingcus8 .nav-botom-menu li.active a::after,
.landingcus8 .nav-botom-menu a:hover::after,
.landingcus8 .nav-botom-menu a:focus::after {
    position: absolute;
    content: '';
    bottom: -4px;
    background-color: #ff6984;
    height: 8px;
    width: 50px;
    border-radius: 500px;
    transition: all 0.3s ease-in;
    opacity: 1;
}

.landingcus8 .nav-botom-menu li.active a {
    border-color: #ff6984;
}

.landingcus8 .nav-botom-menu a .nav-text {
    font-size: 14px;
    color: #28313b;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
}

.landingcus8 .nav-botom-menu a .nav-text .badge {
    position: absolute;
    top: 7px;
    right: 44px;
    font-size: 10px;
    font-weight: 400;
    background-color: #ff6984 !important;
    padding: 3px 6px;
}

.landingcus8 .nav-botom-menu li.active a .nav-text,
.landingcus8 .nav-botom-menu a:hover .nav-text,
.landingcus8 .nav-botom-menu a:focus .nav-text {
    color: #ff6984;
    transition: all 0.3s ease-in;
}

.landingcus8 .nav-botom-menu a img {
    width: 32px;
    filter: brightness(0);
    margin-bottom: 10px;
    transition: all 0.3s ease-in;
}

.landingcus8 .nav-botom-menu li.active a img,
.landingcus8 .nav-botom-menu a:hover img,
.landingcus8 .nav-botom-menu a:focus img {
    filter: brightness(100%);
    transition: all 0.3s ease-in;
}

.landingcus8 #scrollViewPort {
    overflow: hidden;
    position: relative;
}

.landingcus8 #scrollViewPort::after {
    content: '';
    width: 20px;
    height: 82%;
    background-color: #ffffffc7;
    position: absolute;
    right: -16px;
    display: block;
    top: 0;
}

.landingcus8 .inner-wrap {
    padding: 20px;
    min-height: 800px;
}

.landingcus8 .newBox {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 35px -20px rgba(3, 27, 156, 0.6);
    padding: 25px;
    position: relative;
    min-height: 143px;
    margin-bottom: 8px;
}

.landingcus8 .newBox::after {
    content: '';
    background: #ff6984;
    height: 7px;
    display: block;
    left: 25px;
    bottom: -3px;
    border-radius: 500px;
    width: 62px;
    position: absolute;
}

.landingcus8 .box-row .col-sm-3:nth-child(1) {
    padding-right: 3px;
}

.landingcus8 .box-row .col-sm-3:nth-child(4) {
    padding-left: 3px;
}

.landingcus8 .box-row .col-sm-3:nth-child(2),
.landingcus8 .box-row .col-sm-3:nth-child(3) {
    padding-left: 3px;
    padding-right: 3px;
}

.landingcus8 .badge.newBoxBadge {
    background-color: #969bc7;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
}

.landingcus8 .newBox h2 {
    font-size: 24px;
    color: #ff6984;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 8px;
}

.landingcus8 .newBox h4 {
    font-size: 14px;
    font-weight: 400;
    color: #28313b;
    margin-top: 0;
    margin-bottom: 0;
}

.landingcus8 .newBoxIconWrap {
    background-color: #ff6984;
    width: 62px;
    height: 62px;
    border-radius: 500px;
    text-align: center;
    line-height: 41px;
    border: 9px solid #ffe4e9;
}

.landingcus8 .well {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 35px -20px rgba(3, 27, 156, 0.6);
    border: none;
    margin-bottom: 8px;
}

.landingcus8 .well-head {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 35px -20px rgba(3, 27, 156, 0.6);
    padding: 10px 19px;
    margin-bottom: 8px;
}

.landingcus8 .big-row .well-head {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landingcus8 .well-head h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    display: flex;
    align-items: center;
}

.landingcus8 .well-head h4 img {
    width: 28px;
    margin-right: 15px;
}

.landingcus8 .well-head h4 i {
    font-size: 18px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #ff6984;
    text-align: center;
    margin-right: 15px;
}

.landingcus8 .form-group label {
    font-size: 14px;
    font-weight: 400;
    color: #28313b;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.landingcus8 .dashboard select.form-control,
.landingcus8 .dashboard input.form-control,
.landingcus8 .dashboard textarea.form-control,
.landingcus8 .dashboard #service_description .panel-body {
    padding: 6px 12px;
    border: 1px solid #e8e9eb;
    border-radius: 6px;
    box-shadow: 0 0 35px -20px rgba(3, 27, 156, 0.6);
}

.landingcus8 .dashboard select.form-control,
.landingcus8 .input-group input.form-control {
    height: 45px;
}

.landingcus8 .latest-news .panel-default {
    display: none;
}

.landingcus8 .latest-news .panel-default:nth-child(1),
.landingcus8 .latest-news .panel-default:nth-child(2),
.landingcus8 .latest-news .panel-default:nth-child(3),
.landingcus8 .latest-news .panel-default:nth-child(4) {
    display: block;
}

.landingcus8 .panel-default {
    border-color: #e8e9eb;
    padding: 0 15px;
    border-radius: 6px;
    box-shadow: 0 0 30px -20px rgba(3, 27, 156, 0.6);
    margin-bottom: 4px;
}

.landingcus8 .panel-heading span {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #28313b;
}

.landingcus8 .panel-heading span i {
    margin-right: 5px;
    color: #ff6984;
}

.landingcus8 .panel-default > .panel-heading {
    color: #28313b;
    background-color: transparent;
    border-color: #e8e9eb;
    padding-left: 0;
    padding-right: 0;
}

.landingcus8 .panel-default > .panel-heading a {
    text-decoration: none;
    display: block;
    position: relative;
}

.landingcus8 .panel-default .panel-heading .panel-title a::before,
.landingcus8 .panel-default .panel-heading .panel-title a.collapsed::before,
.landingcus8 .panel-default .panel-heading .panel-title a::after,
.landingcus8 .panel-default .panel-heading .panel-title a.collapsed::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 3px;
    color: #28313b;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.landingcus8 .panel-default .panel-heading .panel-title a.collapsed::before {
    content: '\f067';
    opacity: 1;
    transform: rotate(0deg);
}

.landingcus8 .panel-default .panel-heading .panel-title a::after {
    content: '\f068';
    opacity: 1;
    transform: rotate(0deg);
}

.landingcus8 .panel-default .panel-heading .panel-title a::before {
    content: '\f067';
    opacity: 0;
    transform: rotate(90deg);
}

.landingcus8 .panel-default .panel-heading .panel-title a.collapsed::after {
    content: '\f068';
    opacity: 0;
    transform: rotate(-90deg);
}

.landingcus8 .panel-body {
    padding-left: 0;
    padding-right: 0;
}

.landingcus8 .panel-body p {
    font-size: 14px;
    color: #96999c;
    margin-bottom: 4px;
    font-weight: 400;
}

.landingcus8 #loadMore {
    background: #ff6984;
    color: #ffffff;
    text-transform: uppercase;
    padding: 4px 8px;
    display: block;
    width: 90px;
    text-align: center;
    margin: 10px auto 0;
    text-decoration: none;
}

.landingcus8 #newshere #loadMore {
    display: none;
}

.landingcus8 .table {
    box-shadow: 0 0 35px -20px rgba(3, 27, 156, 0.6);
    border-radius: 6px;
    overflow: hidden;
}

.landingcus8 .table thead tr th {
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    color: #28313b;
    text-transform: uppercase;
    line-height: 55px;
}

.landingcus8 .table thead tr th:first-child {
    border-radius: 6px 0 0 6px;
    padding-left: 25px;
}

.landingcus8 .table thead tr th:last-child {
    border-radius: 0 6px 6px 0;
    padding-right: 25px;
}

.landingcus8 .table .cateRow td {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #ff6984;
    border-radius: 6px;
    border-width: 4px;
    border-color: #e9eaf2;
    border-bottom: 4px solid #e9eaf2;
    padding-left: 25px;
    padding-right: 25px;
}

.landingcus8 .table .serviceData td {
    font-size: 14px;
    font-weight: 400;
    color: #28313b;
    border-color: #e1e1e1;
    background: #ffffff;
    vertical-align: middle;
}

.landingcus8 .table tr.serviceData td:first-child {
    padding-left: 25px;
}

.landingcus8 .table tr.serviceData td:last-child {
    padding-right: 25px;
}

.landingcus8 .table tr.serviceData:nth-child(2) td {
    border-color: #e9eaf2;
}

.landingcus8 .table tr.serviceData:nth-child(2) td:first-child {
    border-radius: 6px 0 0 0;
}

.landingcus8 .table tr.serviceData:nth-child(2) td:last-child {
    border-radius: 0 6px 0 0;
}

.landingcus8 .badge.badge-working,
.landingcus8 .btn-alternate,
.landingcus8 .badge-processing,
.landingcus8 .badge-pending,
.landingcus8 .badge-in-progress,
.landingcus8 .badge-completed,
.landingcus8 .badge-partial,
.landingcus8 .badge-canceled,
.landingcus8 .badge-answered,
.landingcus8 .badge-closed,
.landingcus8 .badge-outline,
.landingcus8 .badge-tiny.badge-primary,
.landingcus8 .badge-tiny.badge-alternate,
.landingcus8 .badge.badge-active,
.landingcus8 .badge.badge-paused {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 500px;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 115px;
}

.landingcus8 .badge.badge-outline.count-badge {
    min-width: auto;
}

.landingcus8 .badge.badge-outline,
.landingcus8 .badge-tiny.badge-primary,
.landingcus8 .badge-tiny.badge-alternate {
    padding: 0 8px;
    line-height: 20px;
}

.landingcus8 .badge.badge-outline {
    border: 1px solid #ff6984;
    background-color: transparent;
    color: #ff6984;
}

.landingcus8 .badge-tiny.badge-primary,
.landingcus8 .badge-tiny.badge-alternate {
    color: #ffffff;
}

.landingcus8 .badge-tiny.badge-primary {
    background-color: #ff6984;
}

.landingcus8 .badge-tiny.badge-alternate {
    background-color: #172182;
}

.landingcus8 .badge.badge-working {
    background-color: #ff6984;
}

.landingcus8 .btn-alternate {
    background-color: #172182;
    color: #fff;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.landingcus8 .search-bar {
    margin-bottom: 8px;
}

.landingcus8 .search-bar .input-group {
    box-shadow: 0 0 35px -20px rgba(3, 27, 156, 0.6);
}

.landingcus8 .search-bar .form-control {
    box-shadow: none !important;
}

.landingcus8 .search-bar .btn.btn-default,
.landingcus8 .search-bar .btn.btn-alternate {
    font-size: 18px;
    height: 45px;
    padding: 0 70px;
    color: #ffffff;
}

.landingcus8 .search-bar .btn.btn-default {
    border-color: #ff6984;
    background-color: #ff6984;
}

.landingcus8 .search-bar .btn.btn-alternate {
    border-radius: 0;
    padding: 0 20px;
    background-color: #172182;
    border-color: #172182;
}

.landingcus8 .search-bar .dropdown-menu {
    left: auto;
    right: 0;
}

.landingcus8 .badge-processing,
.landingcus8 .badge-active {
    background-color: #9d27b0;
}

.landingcus8 .badge-pending {
    background-color: #ff9800;
}

.landingcus8 .badge-in-progress {
    background-color: #01bcd6;
}

.landingcus8 .badge-completed,
.landingcus8 .badge-answered {
    background-color: #249b23;
}

.landingcus8 .badge-partial,
.landingcus8 .badge-paused {
    background-color: #5677fc;
}

.landingcus8 .badge-canceled,
.landingcus8 .badge-closed {
    background-color: #e51c22;
}

.landingcus8 .subject {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.landingcus8 .read {
    color: #28313b;
}

.landingcus8 .unread {
    color: #ff6984;
}

.landingcus8 .read:hover,
.landingcus8 .read:focus,
.landingcus8 .unread:hover,
.landingcus8 .unread:focus {
    text-decoration: none;
}

.landingcus8 .read:hover,
.landingcus8 .read:focus {
    color: #28313b;
}

.landingcus8 .unread:hover,
.landingcus8 .unread:focus {
    color: #ff6984;
}

.landingcus8 #editor-1,
.landingcus8 #editor-2 {
    min-height: 100px;
}

.landingcus8 #editor-3 {
    min-height: 290px;
}

.landingcus8 #editor-4 {
    min-height: 270px;
}

.landingcus8 #editor-5 {
    min-height: 140px;
}

.landingcus8 .dashboard footer {
    padding: 15px 0;
}

.landingcus8 .dashboard footer p {
    margin: 0;
}

.landingcus8 .dashboard footer img {
    margin-left: auto;
    display: block;
}

.landingcus8 .dashboard.daymode {
    background-color: #ffffff;
}

.landingcus8 .dashboard.nightmode {
    background-color: #0c0c12;
}

.landingcus8 .dashboard.daymode .navbar-default {
    background-color: #ff6984;
    border-color: #ff6984;
}

.landingcus8 .dashboard.nightmode .navbar-default {
    background-color: #1e1f26;
    border-color: #1e1f26;
}

.landingcus8 .dashboard .navbar-default .navbar-nav > li > a.toggle {
    border-radius: 500px;
    font-size: 17px;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    margin-top: 11px;
    margin-right: 9px;
}

.landingcus8 .dashboard.daymode .navbar-default .navbar-nav > li > a.toggle {
    background-color: #172182;
}

.landingcus8 .dashboard.nightmode .navbar-default .navbar-nav > li > a.toggle {
    background-color: #ffffff;
    color: #28313b;
}

.landingcus8 .dashboard.daymode .badge.bade-price {
    background-color: #172182;
}

.landingcus8 .dashboard.nightmode .badge.bade-price {
    background-color: #ffffff;
    color: #28313b;
}

.landingcus8 .dashboard.daymode .navbar-default .breadcrumb a,
.landingcus8 .dashboard.daymode .navbar-default .breadcrumb li,
.landingcus8 .dashboard.daymode .navbar-default .breadcrumb li::before {
    color: #172182;
}

.landingcus8 .dashboard.nightmode .navbar-default .breadcrumb a,
.landingcus8 .dashboard.nightmode .navbar-default .breadcrumb li,
.landingcus8 .dashboard.nightmode .navbar-default .breadcrumb li::before {
    color: #ffffff;
}

.landingcus8 .dashboard.daymode .inner-wrap {
    background-color: #f7f7f7;
}

.landingcus8 .dashboard.nightmode .inner-wrap {
    background-color: #1e1f26;
}

.landingcus8 .dashboard.daymode .well-head {
    background-color: #ffffff;
}

.landingcus8 .dashboard.nightmode .well-head {
    background: linear-gradient(to top, #232526, #414345);
    color: #ffffff;
}

.landingcus8 .dashboard.nightmode .nav.nav-tabs.tabs2.nav-justified {
    background: linear-gradient(to top, #232526, #414345);
}

.landingcus8 .dashboard.nightmode .nav-tabs.tabs2.nav-justified > li > a {
    color: rgba(255, 255, 255, 0.8);
}

.landingcus8 .dashboard.nightmode .nav-tabs.tabs2.nav-justified > li.active > a {
    color: #ffffff;
}

.landingcus8 .dashboard.nightmode .well {
    background: linear-gradient(to top, #232526, #414345);
}

.landingcus8 .dashboard.nightmode .well,
.landingcus8 .dashboard.nightmode .well p {
    color: #ffffff;
}

.landingcus8 .dashboard.nightmode .form-group label {
    color: #ffffff;
}

.landingcus8 .dashboard.nightmode .panel-body {
    color: #000000;
}

.landingcus8 .dashboard.nightmode .table thead tr th,
.landingcus8 .dashboard.nightmode .table .serviceData td {
    background: linear-gradient(to top, #232526, #414345);
    color: #ffffff;
}

.landingcus8 .dashboard.nightmode .btn-alternate {
    background-color: #ffffff;
    color: #28313b;
}

.landingcus8 .dashboard.nightmode .modal-content {
    color: #28313b;
}

.landingcus8 .dashboard.nightmode .newBox {
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}

.landingcus8 .dashboard.nightmode .newBox h4 {
    color: #ffffff;
}

.landingcus8 .dashboard.nightmode .badge.newBoxBadge {
    background-color: #ffffff;
    color: #28313b;
}

.landingcus8 .dashboard.nightmode .ticketModalla .custom-control .custom-control-label,
.landingcus8 .dashboard.nightmode .ticketModalla .form-group label {
    color: #1f2324;
}

.landingcus8 .dashboard.nightmode footer p {
    color: #ffffff;
}

.landingcus8 .gustavo {
    color: #28313b;
    font-size: 16px;
    font-weight: 300;
    background-color: #f7f7f7;
}

.landingcus8 .gustavo .navbar.navbar-default {
    border: none;
    padding: 12px 0;
    position: relative;
    background: #f7f7f7;
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.4);
}

.landingcus8 .gustavo.pablo .navbar.navbar-default {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;
}

.landingcus8 .gustavo .navbar-default .navbar-nav > li > a {
    color: #26282a;
    font-size: 16px;
    font-weight: 400;
}

.landingcus8 .gustavo .navbar-default .navbar-nav > li.signinBtn > a,
.landingcus8 .gustavo .navbar-default .navbar-nav > li.signupBtn > a {
    width: 120px;
    text-align: center;
    border-radius: 500px;
    margin-left: 8px;
}

.landingcus8 .gustavo .navbar-default .navbar-nav > li.signinBtn > a {
    background-color: #ffffff;
    color: #26282a;
}

.landingcus8 .gustavo .navbar-default .navbar-nav > li.signupBtn > a {
    background-color: #ff6984;
    color: #ffffff;
}

.landingcus8 .main-head {
    font-size: 98px;
    color: #172182;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -4px;
    margin-top: 0;
}

.landingcus8 p {
    font-size: 16px;
    font-weight: 300;
    color: #28313b;
    margin-bottom: 15px;
}

.landingcus8 #top-banner {
    background-repeat: no-repeat;
    background-position: top right;
    padding: 130px 0 50px;
}

.landingcus8 #top-banner h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: #ff6984;
    font-weight: 400;
}

.landingcus8 #top-banner h1 {
    margin-bottom: 20px;
}

.landingcus8 #top-banner p {
    margin-bottom: 35px;
}

.landingcus8 .form-group.icon-group {
    position: relative;
    margin-bottom: 10px;
}

.landingcus8 .icon-group .form-control {
    height: 60px;
    border: none;
    box-shadow: none;
    border-radius: 500px;
    padding-left: 80px;
    color: #89898f;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    transition: all ease-in 0.3s;
    box-shadow: 0 6px 30px -25px #000;
}

.landingcus8 .icon-group .form-control::-webkit-input-placeholder,
.landingcus8 .icon-group .form-control::-moz-input-placeholder,
.landingcus8 .icon-group .form-control:-ms-input-placeholder,
.landingcus8 .icon-group .form-control:-moz-input-placeholder,
.landingcus8 .icon-group .form-control:focus::-webkit-input-placeholder,
.landingcus8 .icon-group .form-control:focus::-moz-input-placeholder,
.landingcus8 .icon-group .form-control:focus:-ms-input-placeholder,
.landingcus8 .icon-group .form-control:focus:-moz-input-placeholder {
    opacity: 1;
}

.landingcus8 .icon-group .form-control::-webkit-input-placeholder {
    color: #89898f;
}

.landingcus8 .icon-group .form-control::-moz-placeholder {
    color: #89898f;
}

.landingcus8 .icon-group .form-control:-ms-input-placeholder {
    color: #89898f;
}

.landingcus8 .icon-group .form-control:-moz-placeholder {
    color: #89898f;
}

.landingcus8 .icon-group .form-control:focus::-webkit-input-placeholder {
    color: #ffffff;
}

.landingcus8 .icon-group .form-control:focus::-moz-placeholder {
    color: #ffffff;
}

.landingcus8 .icon-group .form-control:focus:-ms-input-placeholder {
    color: #ffffff;
}

.landingcus8 .icon-group .form-control:focus:-moz-placeholder {
    color: #ffffff;
}

.landingcus8 .icon-group .form-control:focus {
    background-color: #172182;
    color: #ffffff;
}

.landingcus8 .input-icon {
    width: 65px;
    position: absolute;
    top: 50%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e7e7e7;
    transform: translateY(-50%);
    padding-left: 10px;
    transition: all ease-in 0.3s;
}

.landingcus8 .icon-group .form-control:focus + .input-icon {
    filter: brightness(0) invert(1);
}

.landingcus8 .btn.btn-primary {
    background-color: #ff6984;
    border-color: #ff6984;
    font-size: 17px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 500px;
}

.landingcus8 .icon-box {
    position: relative;
}

.landingcus8 .signupFrom .col-sm-6:first-child {
    padding-right: 4px;
}

.landingcus8 .signupFrom .col-sm-6:last-child {
    padding-left: 4px;
}

.landingcus8 .abs {
    position: absolute;
}

.landingcus8 .icon-1 {
    right: 90px;
    top: 20px;
}

.landingcus8 .icon-2 {
    top: 240px;
    left: -50px;
}

.landingcus8 .icon-3 {
    left: -40px;
    top: -40px;
}

.landingcus8 .icon-4 {
    right: -210px;
    top: 330px;
}

.landingcus8 .social-badge {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.landingcus8 .social-badge li {
    cursor: cell;
    transition: all 0.25s ease-in;
}

.landingcus8 .social-badge li:hover {
    transition: all 0.25s ease-in;
    transform: translateY(-20px);
}

.landingcus8 .link {
    font-weight: 600;
    color: #ff6984;
    text-decoration: none;
    font-size: 16px;
}

.landingcus8 #three-wrap,
.landingcus8 #how,
.landingcus8 #our-services,
.landingcus8 #happy,
.landingcus8 #power {
    padding: 70px 0;
}

.landingcus8 .threeBox h2 {
    color: #172182;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 5px;
}

.landingcus8 .threeBox h5 {
    font-size: 17px;
    color: #89898f;
    margin-top: 0;
}

.landingcus8 .threeBox p {
    color: #28313b;
    font-size: 16px;
    font-weight: 300;
}

.landingcus8 .threeBox.active h2,
.landingcus8 .threeBox.active h5,
.landingcus8 .threeBox.active p {
    color: #ffffff;
}

.landingcus8 .threeBox .link {
    font-size: 14px;
}

.landingcus8 .threeBox {
    padding: 40px 20px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 12px 35px -25px rgba(0, 0, 0, 0.4);
}

.landingcus8 .threeBox.active {
    background-color: #172182;
    background-blend-mode: soft-light;
}

.landingcus8 .threeBoxIcon {
    margin-bottom: 20px;
}

.landingcus8 .sphere {
    background-color: #ff6984;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 500px;
}

.landingcus8 #how img {
    width: 100%;
    margin-top: 65px;
    display: block;
}

.landingcus8 .nav-tabs.nav-justified {
    border-bottom: 1px solid #e1e1e1;
}

.landingcus8 .nav.nav-tabs.tabs2.nav-justified {
    border-bottom: none;
    margin-bottom: 8px;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 35px -20px rgba(3, 27, 156, 0.6);
}

.landingcus8 .nav-tabs.nav-justified > li > a {
    font-size: 18px;
    font-weight: 400;
    color: rgba(23, 33, 130, 0.5);
    border: none;
    border-top: none;
    border-left: 1px solid #e1e1e1;
    padding-bottom: 20px;
    position: relative;
    border-radius: 0;
}

.landingcus8 .nav-tabs.tabs2.nav-justified > li > a {
    font-size: 16px;
    font-weight: 600;
    color: rgba(40, 49, 59, 0.4);
    padding-bottom: 10px;
    border: none;
}

.landingcus8 .nav-tabs.nav-justified > li:first-child > a,
.landingcus8 .nav-tabs.nav-justified > li:first-child.active > a,
.landingcus8 .nav-tabs.nav-justified > li:first-child.active > a:hover,
.landingcus8 .nav-tabs.nav-justified > li:first-child.active > a:focus {
    border-left: none;
}

.landingcus8 .nav-tabs.nav-justified > li.active > a,
.landingcus8 .nav-tabs.nav-justified > li.active > a:hover,
.landingcus8 .nav-tabs.nav-justified > li.active > a:focus {
    border: none;
    border-top: none;
    border-left: 1px solid #e1e1e1;
}

.landingcus8 .nav-tabs.tabs2.nav-justified > li.active > a,
.landingcus8 .nav-tabs.tabs2.nav-justified > li.active > a:hover,
.landingcus8 .nav-tabs.tabs2.nav-justified > li.active > a:focus {
    border-left: none;
}

.landingcus8 .nav-tabs.nav-justified > li.active > a {
    background: transparent;
    border-top: none;
    border-bottom: none;
    color: #172182;
}

.landingcus8 .nav-tabs.tabs2.nav-justified > li.active > a {
    color: #28313b;
}

.landingcus8 .nav-tabs.nav-justified > li.active > a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 6px;
    width: 40%;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    background-color: #ff6984;
    border-radius: 500px;
}

.landingcus8 .tab-content {
    padding-top: 45px;
}

.landingcus8 .tab-content.content2 {
    padding-top: 0;
}

.landingcus8 #our-services p,
.landingcus8 #happy p,
.landingcus8 #power p {
    margin-bottom: 40px;
}

.landingcus8 #our-services h4,
.landingcus8 #power h4 {
    font-weight: 700;
    font-size: 40px;
    color: #172182;
    margin-top: 0;
}

.landingcus8 #our-services .tab-content p,
.landingcus8 #power .row .col-sm-6 p {
    margin-bottom: 15px;
    line-height: 26px;
}

.landingcus8 .btn-wrap {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.landingcus8 .btn-wrap li {
    margin-right: 20px;
}

.landingcus8 .tab-img {
    position: relative;
}

.landingcus8 .tab-img img {
    width: 100%;
}

.landingcus8 .tab-img i {
    position: absolute;
    top: 80px;
    left: -40px;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 98px;
    color: #ffffff;
    display: block;
    width: 142px;
}

.landingcus8 .client-box {
    background-color: #ffffff;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 5px 5px 0 4px #dddddd;
    margin-top: 45px;
}

.landingcus8 .client-box .client-img-wrap img {
    width: 100%;
    display: block;
}

.landingcus8 .client-box .client-img-wrap {
    border: 7px solid #ffffff;
    margin: -50px auto 5px;
    width: 86px;
    height: 86px;
    display: block;
    border-radius: 500px;
}

.landingcus8 .stars {
    display: flex;
    justify-content: center;
    color: #fcdd21;
    margin-bottom: 15px;
}

.landingcus8 #happy .client-content p {
    margin-bottom: 0;
}

.landingcus8 .client-content h4 {
    margin-bottom: 0;
    color: #172182;
    font-weight: 700;
    font-size: 16px;
}

.landingcus8 .stars i {
    text-shadow: 2px 2px 0 #ff6984;
}

.landingcus8 .footer-top {
    background-color: #ff6984;
    padding: 60px 0;
    position: relative;
}

.landingcus8 .footer-top h2 {
    font-size: 40px;
    font-weight: 700;
    color: #172182;
    margin-top: 0;
    margin-bottom: 0;
}

.landingcus8 .joinBtn {
    background-color: #ffffff;
    border-radius: 500px;
    font-size: 18px;
    color: #172182;
    width: 220px;
    display: block;
    line-height: 61px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    float: right;
    text-decoration: none;
    box-shadow: 0 6px 20px -8px rgba(0, 0, 0, 0.4);
}

.landingcus8 .footer-top::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #ff6984;
    margin: auto;
    bottom: -30px;
}

.landingcus8 .footer-top-bottom {
    background-color: #172182;
    border-bottom: 1px solid #2632ab;
    padding: 15px 0;
}

.landingcus8 .footer-top-bottom h4 {
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    margin: 0;
}

.landingcus8 .social-icons {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.landingcus8 .social-icons a {
    width: 26px;
    height: 26px;
    display: block;
    background: #ff6984;
    color: #ffffff;
    text-align: center;
    border-radius: 500px;
    margin: 0 2px;
    line-height: 26px;
}

.landingcus8 .footer-main {
    border-bottom: 1px solid #2632ab;
    background-color: #172182;
    color: #ffffff;
    padding: 30px 0;
}

.landingcus8 .footer-main p {
    color: #ffffff;
}

.landingcus8 .footer-main img {
    margin-bottom: 20px;
}

.landingcus8 .footer-main .footer-logo {
    filter: brightness(0) invert(1);
}

.landingcus8 .widget-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
}

.landingcus8 .footer-main ul {
    padding: 0;
    list-style: none;
}

.landingcus8 .footer-main ul a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    padding-left: 15px;
    transition: all 0.4s ease-in;
}

.landingcus8 .footer-main ul a:hover {
    padding-left: 20px;
    color: #ff6984;
}

/* .landingcus8 .footer-main ul a::before {
	position: absolute;
	content: '\f105';
	left: 0;
	font-family: FontAwesome;
	font-weight: 900;
	transition: all 0.4s ease-in;
} */

.landingcus8 .footer-main ul a:hover::before {
    left: 10px;
    transition: all 0.4s ease-in;
}

.landingcus8 .newsletter {
    border: 1px solid #ffffff;
    border-radius: 500px;
    height: 41px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.landingcus8 .footer-main .btn.btn-primary {
    line-height: 32px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.landingcus8 .footer-bottom {
    background-color: #172182;
    color: #ffffff;
    padding: 15px 0;
}

.landingcus8 .copyright-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.landingcus8 .copyright-menu li a {
    color: #ffffff;
    margin-left: 10px;
    text-decoration: none;
}

.landingcus8 .ticketModalla.modal-dialog {
    width: 620px;
}

.landingcus8 .ticketModalla .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding: 0;
    margin-top: 5px;
}

.landingcus8 .ticketModalla .ticketForm .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-left: -5px;
    margin-right: -5px;
}

.landingcus8 .ticketModalla .col {
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    min-height: 1px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.landingcus8 .ticketModalla .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.landingcus8 .ticketModalla .custom-control .custom-control-label {
    width: 100%;
    height: 50px;
    padding-left: 35px;
    padding-right: 15px;
    border-radius: 4px;
    border: solid 2px #eeeeee;
    color: #1f2324;
    font-size: 14px;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}

.landingcus8 .ticketModalla .custom-control-input:checked ~ .custom-control-label {
    border-color: #ff6984;
}

.landingcus8 .ticketModalla .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.landingcus8 .ticketModalla .custom-control-label::before {
    border-radius: 50px;
    top: 18px;
    left: 12px;
}

.landingcus8 .ticketModalla .custom-control-label::after {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    content: '\f00c';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    font-size: 9px;
    width: auto;
    height: auto;
    top: 19px;
    left: 15px;
    opacity: 0;
}

.landingcus8 .ticketModalla .custom-control-input:checked ~ .custom-control-label::before {
    color: #ffffff;
    background-color: #172182;
}

.landingcus8 .ticketModalla .custom-control-input:checked ~ .custom-control-label::after {
    opacity: 1;
}

@media screen and (max-width: 1400px) and (min-width: 440px) {
    .landingcus8 .navbar-right {
        float: right !important;
    }

    .landingcus8 .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        overflow: visible !important;
        border: none;
        margin-right: 15px;
    }

    .landingcus8 .navbar-nav > li {
        float: left;
        margin: 5px 0;
    }

    .landingcus8 .navbar-header {
        float: left;
    }

    .landingcus8 .navbar-toggle {
        display: none;
    }
}

@media (max-width: 550px) {
    .landingcus8 p {
        font-size: 14px;
    }

    .landingcus8 #top-banner {
        background-size: 100% 380px;
        padding: 130px 0 40px;
    }

    .landingcus8 #top-banner p {
        padding-right: 30%;
    }

    .landingcus8 #top-banner p br {
        display: none;
    }

    .landingcus8 .dashboard .navbar-default .navbar-collapse {
        border: none;
        box-shadow: none;
    }

    .landingcus8 .dashboard .navbar-toggle {
        border: none;
        background-color: transparent;
        border-radius: 0;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .landingcus8 .dashboard .navbar-default .navbar-toggle:hover,
    .landingcus8 .dashboard .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .landingcus8 .dashboard .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
        height: 3px;
    }

    .landingcus8 #top-banner h4 {
        font-size: 12px;
    }

    .landingcus8 .main-head {
        font-size: 58px;
        line-height: 41px;
    }

    .landingcus8 .sphere {
        width: 16px;
        height: 16px;
    }

    .landingcus8 .icon-group .form-control {
        font-size: 16px;
        height: 48px;
        padding-left: 50px;
    }

    .landingcus8 .input-icon {
        width: 45px;
        height: 30px;
    }

    .landingcus8 .icon-1 {
        right: 190px;
    }

    .landingcus8 .icon-2 {
        top: 190px;
        left: -10px;
    }

    .landingcus8 .icon-3 {
        left: 0px;
        top: -40px;
    }

    .landingcus8 .icon-4 {
        right: 0;
        top: 360px;
    }

    .landingcus8 .btn.btn-primary {
        font-size: 14px;
        line-height: 32px;
        padding-left: 28px;
        padding-right: 28px;
    }

    .landingcus8 .social-badge {
        margin: 10px 0;
    }

    .landingcus8 .social-badge img {
        width: 44px;
    }

    .landingcus8 .link {
        font-size: 14px;
    }

    .landingcus8 .pablo .navbar-default .navbar-collapse,
    .landingcus8 .gustavo .navbar-default .navbar-collapse {
        background-color: #f7f7f7;
    }

    .landingcus8 .gustavo .navbar-default .navbar-nav > li.signinBtn > a,
    .landingcus8 .gustavo .navbar-default .navbar-nav > li.signupBtn > a {
        width: 100%;
        border-radius: 500px;
        margin-left: 0;
        text-align: left;
        margin-bottom: 4px;
    }

    .landingcus8 #three-wrap,
    .landingcus8 #how,
    .landingcus8 #our-services,
    .landingcus8 #happy,
    .landingcus8 #power {
        padding: 40px 0 20px;
    }

    .landingcus8 .threeBoxIcon img {
        width: 58px;
    }

    .landingcus8 .threeBoxIcon {
        margin-bottom: 10px;
    }

    .landingcus8 .threeBox h2 {
        font-size: 42px;
    }

    .landingcus8 .threeBox h5 {
        font-size: 15px;
    }

    .landingcus8 .threeBox p {
        font-size: 14px;
    }

    .landingcus8 .threeBox .link {
        font-size: 12px;
    }

    .landingcus8 .threeBox {
        padding: 30px 20px;
        margin-bottom: 20px;
    }

    .landingcus8 .nav-tabs.nav-justified {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .landingcus8 .nav-tabs.nav-justified > li > a {
        font-size: 14px;
        border-left: none;
        padding-bottom: 15px;
    }

    .landingcus8 .nav-tabs.nav-justified > li.active > a,
    .landingcus8 .nav-tabs.nav-justified > li.active > a:hover,
    .landingcus8 .nav-tabs.nav-justified > li.active > a:focus {
        border-left: none;
    }

    .landingcus8 .tab-img i {
        top: 64px;
        left: -9%;
        font-size: 75px;
        width: 36%;
    }

    .landingcus8 #power img {
        width: 100%;
    }

    .landingcus8 #our-services h4, .landingcus8 #power h4 {
        font-size: 30px;
    }

    .landingcus8 #our-services .tab-content p,
    .landingcus8 #power .row .col-sm-6 p {
        line-height: 22px;
    }

    .landingcus8 #power img {
        width: 100%;
    }

    .landingcus8 #power .row:nth-child(3) {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .landingcus8 .footer-top h2 {
        font-size: 32px;
        margin-bottom: 15px;
        text-align: center;
    }

    .landingcus8 .joinBtn {
        margin: auto;
        float: none;
        font-size: 16px;
        width: 150px;
        line-height: 48px;
    }

    .landingcus8 .footer-top {
        padding: 35px 0;
    }

    .landingcus8 .footer-top-bottom h4 {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .landingcus8 .social-icons {
        display: flex;
        justify-content: center;
    }

    .landingcus8 .footer-top::after {
        bottom: -15px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 15px solid #ff6984;
    }

    .landingcus8 .footer-main img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .landingcus8 .footer-main .footer-logo {
        width: 130px;
    }

    .landingcus8 .footer-main p {
        text-align: center;
    }

    .landingcus8 .footer-main .col-sm-3:nth-child(2),
    .landingcus8 .footer-main .col-sm-3:nth-child(3) {
        width: 50%;
        float: left;
        text-align: center;
    }

    .landingcus8 .footer-main .col-sm-3:last-child {
        /* width: 100%;
        clear: both;
        float: none; */
    }

    .landingcus8 .footer-main ul a {
        padding-left: 20px;
        text-align: left;
    }

    .landingcus8 .footer-main ul a::before {
        display: none;
    }

    .landingcus8 .footer-main ul a:hover {
        padding-left: 0;
        color: #ff6984;
    }

    .landingcus8 .footer-main ul a {
        line-height: 24px;
    }

    .landingcus8 .widget-title {
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }

    .landingcus8 .footer-main .btn.btn-primary {
        width: 100%;
    }

    .landingcus8 .footer-bottom {
        text-align: center;
        font-size: 14px;
    }

    .landingcus8 .copyright-menu {
        justify-content: center;
    }

    .landingcus8 .nav-row {
        display: none;
    }

    .landingcus8 .mobileDropdown,
    .landingcus8 .mobileMenu {
        display: block;
    }

    .landingcus8 .mobileMenu {
        margin-left: 0;
        margin-right: 0;
    }

    .landingcus8 .dashboard .navbar-default .breadcrumb {
        display: none;
    }

    .landingcus8 .dashboard .navbar-default .navbar-nav.mobileMenu > li > a {
        padding: 15px 10px;
        font-size: 14px;
        line-height: 1;
    }

    .landingcus8 .dashboard .navbar-default .navbar-nav.mobileMenu > li > a:hover {
        background-color: #172182;
    }

    .landingcus8 .dashboard .navbar-default .navbar-nav > .active > a,
    .landingcus8 .dashboard .navbar-default .navbar-nav > .active > a:hover,
    .landingcus8 .dashboard .navbar-default .navbar-nav > .active > a:focus {
        background-color: #172182;
        color: #ffffff;
    }

    .landingcus8 .dashboard .navbar-default .navbar-right.navbar-right-block {
        display: none;
    }

    .landingcus8 .mobileDropdown {
        float: right;
        position: static;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .landingcus8 .mobileDropdown .dropdown-menu {
        width: 100%;
        left: 0;
        float: none;
        right: -85px;
        min-width: 100%;
        padding: 0 0 20px;
        border: none;
        top: 61px;
        border-radius: 0;
    }

    .landingcus8 .mobileDropdown .dropdown-menu a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
    }

    .landingcus8 .mobileDropdown .dropdown-menu li:first-child a {
        border-bottom: 1px solid #ff6984;
    }

    .landingcus8 .badge.bade-price {
        font-size: 14px;
        width: 70px;
        border-radius: 6px;
        margin-top: 0;
    }

    .landingcus8 .mobileDropdown .dropdown-menu a .userGreeting {
        font-size: 22px;
        font-weight: 600;
    }

    .landingcus8 .mobileDropdown .dropdown-menu li:nth-child(2) a {
        margin-top: 15px;
    }

    .landingcus8 .mobileDropdown .dropdown-toggle {
        color: #ffffff;
        display: flex;
        align-items: center;
    }

    .landingcus8 .dashboard .user-icon {
        width: 26px;
        height: 26px;
        margin-right: 0;
    }

    .landingcus8 .dashboard .user-icon i {
        line-height: 26px;
        font-size: 18px;
    }

    .landingcus8 .dashboard .caret i {
        line-height: 32px;
        font-size: 16px;
    }

    .landingcus8 .inner-wrap {
        padding: 20px 15px;
        min-height: 400px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .landingcus8 .box-row .col-sm-3:nth-child(1),
    .landingcus8 .box-row .col-sm-3:nth-child(2),
    .landingcus8 .box-row .col-sm-3:nth-child(3),
    .landingcus8 .box-row .col-sm-3:nth-child(4) {
        padding-right: 15px;
        padding-left: 15px;
    }

    .landingcus8 .newBox {
        padding: 15px;
        min-height: 100px;
    }

    .landingcus8 .newBoxIconWrap {
        width: 56px;
        height: 56px;
        line-height: 42px;
        border: 6px solid #ffe4e9;
    }

    .landingcus8 .badge.newBoxBadge {
        font-size: 11px;
    }

    .landingcus8 .newBox h2 {
        margin-top: 5px;
    }

    .landingcus8 .newBox h4 {
        font-size: 13px;
    }

    .landingcus8 .newBox::after {
        height: 6px;
        left: 15px;
        width: 56px;
    }

    .landingcus8 .dashboard footer p {
        text-align: center;
        margin-bottom: 10px;
    }

    .landingcus8 .dashboard footer img {
        margin-right: auto;
    }

    .landingcus8 .order-paage .slick-prev::before {
        content: '←';
        font-size: 20px;
        opacity: 1;
        color: #ff6984;
    }

    .landingcus8 .order-paage .slick-next::before {
        font-size: 20px;
        opacity: 1;
        color: #ff6984;
    }

    .landingcus8 .order-paage .slick-next {
        right: -15px;
    }

    .landingcus8 .order-paage .slick-prev {
        left: -15px;
    }

    .landingcus8 .order-paage .nav-tabs.slick-slider .slick-slide {
        text-align: center;
    }

    .landingcus8 .order-paage .nav-tabs.slick-slider {
        min-height: 48px;
        line-height: 48px;
    }

    .landingcus8 .order-paage .nav-tabs.slick-slider li a {
        font-size: 16px;
        font-weight: 600;
        color: rgba(40, 49, 59, 0.4);
        padding-bottom: 10px;
        border: none;
    }

    .landingcus8 .order-paage .nav-tabs.slick-slider li.active.slick-active > a::after {
        content: '';
        /* position: absolute; */
        bottom: -3px;
        height: 6px;
        width: 50px;
        margin: auto;
        display: block;
        left: 0;
        right: 0;
        background-color: #ff6984;
        border-radius: 500px;
    }

    .landingcus8 .order-paage .nav-tabs.slick-slider li > a::after {
        content: '';
        /* position: absolute; */
        bottom: -3px;
        height: 6px;
        width: 50px;
        margin: auto;
        display: block;
        left: 0;
        right: 0;
        background-color: transparent;
        border-radius: 500px;
    }

    .landingcus8 .order-paage .nav-tabs.slick-slider .slick-arrow {
        z-index: 999;
    }

    .landingcus8 .order-paage .nav-tabs.slick-slider li.active.slick-active > a {
        color: #28313b;
    }

    .landingcus8 .addfund-paage .nav-tabs.nav-justified > li > a {
        padding: 10px 9px;
    }

    .landingcus8 .payment-logoo {
        width: 100%;
    }

    .landingcus8 .signupFrom .col-sm-6:first-child {
        padding-right: 15;
    }

    .landingcus8 .signupFrom .col-sm-6:last-child {
        padding-left: 15px;
    }

    .landingcus8 .modal-title,
    .landingcus8 .modal-body {
        white-space: normal;
    }

    .landingcus8 .search-bar .input-group,
    .landingcus8 .input-group.search-bar {
        display: flex;
    }

    .landingcus8 .search-bar .input-group input.form-control {
        width: 75%;
    }

    .landingcus8 .input-group.search-bar input.form-control,
    .landingcus8 .input-group.search-bar .input-group-btn {
        width: 50%;
    }

    .landingcus8 .search-bar .input-group .input-group-btn {
        width: 25%;
    }

    .landingcus8 .search-bar .input-group .input-group-btn .btn.btn-default {
        padding: 0 26px;
    }

    .landingcus8 .input-group.search-bar .input-group-btn:last-child .btn.btn-default {
        padding: 0 16px;
    }

    .landingcus8 .dashboard select.form-control,
    .landingcus8 .dashboard input.form-control,
    .landingcus8 .dashboard textarea.form-control,
    .landingcus8 .dashboard #service_description .panel-body {
        font-size: 16px;
    }

    .landingcus8 .ticketModalla.modal-dialog {
        width: auto;
    }
}

@media (max-width: 439px) {
    .landingcus8 .register-btn-cus {
        display: inline-flex !important;
        float: right;
        padding-right: 25px;
    }
}