@media (max-width: 991px) {
    .landingcus6 .itemwowcus {
        width: auto !important;
        height: 200px;
    }
    .landingcus6 .about-us .left-image {
        bottom: -1200px;
    }
    .landingcus6 .cusblock {
        margin-bottom: 175px;
    }
    .landingcus6 .background-header .main-nav .nav {
        margin-top: 100px !important;
    }
}
.landingcus6 .input-icon {
    position: relative;
}
.landingcus6 .input-icon-addon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #9aa0ac;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 2.5rem;
    pointer-events: none;
}
.landingcus6 .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #9b9b9b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.landingcus6 .input-icon .form-control:not(:first-child) {
    padding-left: 2.5rem;
}
.landingcus6 .input-icon.mb-5 {
    margin-bottom: 1.5rem !important;
}